@charset 'utf-8';

a{
    color:inherit;
}

body{
    color:#313131;
}

/* mainVideo */
.mainVideo{
    position: relative;
    height: 500px;
}


#mainVideo {
    position: fixed;
    left: -50%;
    
    top:80px;
    width: 200%; 
    height:auto;
    z-index: -10;
    
    }

 /* 공지사항 */
 .notice{
     width:100%;
     color:#efefef;
     background-color:#2a2a2a;
     position: relative;

 }

 .notice img{
     vertical-align: middle;
     margin-left:5%;
 }


 .notice ul{
     display: inline-block;
 }

 .notice i{
     position: absolute;
     right: 5%;
     top:50%;
     margin-top:-7px;
 }

 /* MENU */

 .menu{
     background-color: #fff;
 }



 .menu h3{
     text-align: center;
     color:#2a2a2a;
     font-size:2.3em;
     margin-bottom:10%;
     padding-top:8%;
 }

 .menu .menutab{
     width:90%;
     margin:0 auto;
 }

 .menu .menutab:after{
     display: block;
     clear: both;
     content:'';
 }

 .menu .menutab li{
     
     width:33.33%;
     height: 50px;
     line-height: 50px;
     float: left;
     background-color:#efefef;
     text-align: center;
     color:#313131;      
 }

 .menu .menutab li:hover{
     background-color:#983b43;
     color:#efefef;
 }

.menu .tabmenuTitle h4{
    text-align: center;
    font-size:1.8em;
    margin: 10% 0;
    color:#575757;
}


.menu .category{
    width:85%;
    text-align: center;
    margin:10% auto;
}

.menu .category li{
    display: inline-block;
    padding: 0 2%;
    margin-bottom:2%;
}

.menu .category li:hover{
    border-bottom:2px solid #983b43;   
}

.menu .item:after{
    display: block;
    clear:both;
    content:'';
}

 .menu .item ul li{
     float:left;
     text-align: center;
     height: 200px;
 }
 .menu .item ul li img{
     width: 80%;
 }

 .menu .item .name{
     font-weight: 800;
     color:#3f3f3f;
     font-size:0.8em;
 }

.menu .tabmenu:nth-child(1){
    /* display: none */
}

 .menu .tabmenu:nth-child(2){
     display: none;

 }

#dessert01{
    display: none;
}

#dessert02{
    display: none;
}

 .menu .tabmenu:nth-child(3){
    display: none;

}

/* content영역 */
.content{
    background-color:#eee;
}
.searchwrap{
    background-color: #eee;
    text-align: center;
    padding: 10% 0;
    
}

.searchwrap input{
    width: 85%;
    margin: 5%;
    
    
}

.searchwrap button{
    background-color: #983b43;
    border:none;
    color: #eee;
}

.ordertext{
    text-align: center;
    width:100%;

}

.content p{
    font-size:10px;
    margin-top:5%;
}

.ordertext .more{
    margin-top:10px;
    font-size:12px;
    text-decoration: underline;
    
}

.ordertext i{
    margin-left:5px;
}

/* footer */

footer{
    background-color: #3f3f3f;
    color:#9f9f9f;
}

/* 모바일 767px 이하 */
/* mobileheader */

.PCheader{
    display: none;
}
.mobileHeader{
    height: 80px;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 10;
    background-color: white;
    
    /* background-color: aqua; */

}

.mobileHeaderIn{
    position: relative;
}

.mobileHeader h1 a{
    margin-left:10%;
    line-height: 80px;
}

.mobileHeader h1 a img{
    vertical-align: middle;
    height: 70px;
    width: auto;
}

.mobileHeader .menuicon{
    width: 40px;
    background-color: white;
    border: none;
    position: absolute;
    top:20px;
    right: 7%;
    
}

.mobileHeader button span{
    width: 30px;
    height: 3px;
    background-color: #2a2a2a;
    display: block;
    margin:7px auto;
}

.mobileMenu{
    position: absolute;
    top:0;
    left:-100%;
}

/* mobileboard */
.PCboard{
    display: none;
}

.mobileboard{
    width:100%;
    background-color: white;
}

.mobileboard ul li img{
    width:100%;
}

.menu .tabmenuTitle>p{
    display: none;
}

/* 모바일 공지사항 */

.notice{
    line-height: 50px;
    height:50px ;
}

/* 모바일 MENU */
.menu .item ul li{
    width:50%;
}

/* 모바일 content */

.PCheader{
    display: none;
}

.bestcombinationwrap{
    display: none;
}

.orderwrap{
    position: relative;
}

.searchwrap{
height: 150px;
}
.searchwrap input{
    width: 90%;
    height: 30px;
}

.searchwrap button{
    width: 50%;
    margin: 0 auto;
    height: 30px;    
}

.order{
    display: none;
}

.ordertext{
    position: absolute;
    top:10%;
    left:0;
}


.content .order_m{
    width:100%;
}

.content .season_m img{
    width:100%;
}

.season{
    display: none;
}



/* 태블릿 768px 이상 */
@media screen and (min-width:768px){

    #mainVideo{
        width:150%;
        left:-25%;
    }
    .mainVideo{
        height: 900px;
    }

    .notice{
        height: 70px;
        line-height: 70px;
        font-size:18px;
    }

    .menu .menutab li{
        font-size:20px;
    }

    .menu .category{
        font-size: 18px;
        line-height: 30px;
    }

    .menu .item ul li{
        height: 400px;
    }

    .menu .item .name{
        font-size:1.2em;
    }

    .content h3{
        font-size:1.5em;
    }

    .content p{
        font-size:1.2em;
    }

    .searchwrap input{
        height: 50px;
        font-size:1.5em;
        
    }

    .searchwrap{
        height: 250px ;
    }

    .searchwrap button{
        height: 50px;
        font-size:1.5em;
    }
}


/* pc 992px 이상 */
@media screen and (min-width:992px){
    .wrap{
        width: 1200px;
        margin: 0 auto;
    }
    .PCheader{
        display: block;
        background-color: white;
    }

    .PCboard img{
        width: 100%;
    }
    
    .mobileHeader{
        display: none;
    }

    #mainVideo{
        top:-50px;
        width: 100%;
        left:0;
        
    }

    /* PCboard */
    .mobileboard{
        display: none;
    }
    .PCboard{
        display: block;
    }

    /* menu */
    .menu .item ul li{
        width:20%;
    }
    .menu .category{
        width:100%;
        margin:0;
    }
    

    /* content 영역 */
    .bestcombinationwrap{
        display: block;
    }
    .order_m{
        display: none;
    }

    .order{
        display: block;
    }

    .season_m{
        display: none;
    }

    .season{
        display: block; 
    }
    /* .searchwrap{
        width:100%;
    } */

    .content .wrap:after{
        display: block;
        clear:both;
        content: '';
    }
    .orderwrap{
        width:400px;
        float:left;
    }

    .seasonwrap{
        width:800px;
        float: left;
        
    }

    .searchwrap{
        background-color: #efefef;
        width:400px;
        float:left;
        padding:0;
        height: 386px;
    }
    
    .searchwrap h3{
        margin-top:100px;
    }

    .bestcombinationwrap{
        float:left;
        width:800px;
    }
}


/* .menu .menuTop{
    background-image: url(../img/page_top_visual_menu.jpg);
   background-repeat: no-repeat;
   background-size: auto 100%;
   background-position: center;
   } */